:root {
     --main-100: rgb(244, 253, 246);
     --main-200: rgb(217, 255, 224);
     --main-500: rgb(19, 129, 19);
     --main-800: rgb(18, 79, 18);
     --main-900: rgb(0, 40, 0);
}

body {
     background-color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
     width: 50%;
     margin: auto;
}

h1, h2, h3 {
     font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

h1 {
     margin-bottom: 70px;
}

a {
     color: var(--main-500);
     transition: all 0.2s ease;
}

a:hover {
     color: var(--main-800);
}

table {
     background-color: white;
}

thead th {
     color: var(--main-100);
     background-color: var(--main-500);
     padding: 20px;
     pointer-events: none;
}

tr {
     transition: all 0.2s ease;
     background-color: var(--main-100);
}

tr:hover {
     background-color: var(--main-200);
}

td {
     padding: 20px 20px 20px 10px ;
     text-align: left;
}
